/*登录模态框部分*/
.modal-content{
	text-align: center;
	background:rgba(120,117,112,0);
	border: 0;
}
/*登录框背景*/
.modal-inner{
	background-color: #fff;
	border-radius: 5px;
	background-image: url('picture/38269.jpg');
}
/*验证码*/
.validate-span{
	display: inline-block;
	background-color: #575757;
	color: #CD8162;
	height: 2.5em;
	line-height: 2.5em;
	border-radius: 3px;
	width: 100%;
	font-family: '隶书';
}
/*错误提示*/
.name-sp,.password-sp,.validate-sp{
	position: relative;
	top: -0.5em;
}
/*登录后显示*/
.user-ul{
	display: none;
}
/*登录模态框结束*/

/*概述前沿图标部分*/
.img-div{
	width: 3em;
	float: left;
}
.html-img{
	-webkit-animation: animal1 10s;
	-moz-animation: animal1 10s;
	-ms-animation: animal1 10s;
	-o-animation: animal1 10s;
	animation: animal1 10s;
}
@keyframes animal1{
	0%{transform: rotateY(45deg)}
	50%{transform: rotateY(180deg)}
	90%{transform: rotateY(360deg)}
	100%{transform: rotateY(360deg)}
}
/*概述前沿图标结束*/

/*图书-图片部分*/
.book-div{
	text-align: center;
}
li{
	list-style: none;
}
.book-ul li{
	display: inline-block;	
	width: 32%;
	background-color: #E8E8E8;
	cursor: pointer;
	height: 3em;
}
/*图书-图片结束*/